
<section id="anomalies">

  <div class="row section-head">
    {{ content }}
  </div>

  <div class="row">
    <div class="anomalies-tables bgrid-thirds s-bgrid-halves1">
      {% for column in page.header.columns %}
        <div class="column">
          <div class="anomaly-block">
            <h3 class="anomaly-title"><i class="fa fa-{{ column.icon }}"></i>{{ column.title }}</h3>


            <ul class="features">
              {% for feature in column.features %}
               <li>{{ feature.name }}</li>
             {% endfor %}
            </ul>

            <footer class="anomaly-sign-up">
              {% for button in column.buttons %}
               <a class="button" href="{{ button.url }}">{{ button.text }}</a>
              {% endfor %}
            </footer>
       </div>
     </div>
   {% endfor %}
 </div>

</div>

</section>
